/* 記事の設定(artcle || section) */
#home_section {
    width: 700px;
    height: 100%;
    margin: auto;
    background-color: rgb(73, 73, 73);
}

@media screen and (max-width:750px) {
    #home_section {
        margin: 10px;
        width: auto;
        height: auto;
        background-color: rgb(73, 73, 73);
    }

}


#home_h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 25px;
}

.second_h2 {
    font-size: 25px;
    border-left: 7px solid white;
    padding-left: 20px;
}

.article_design {
    padding: 5px 20px 10px 40px;
}