#pictures_top>img {
    width: 70%;
    height: auto;
    padding: 0px 15% 0px 15%;
}

#pictures_h3 {
    font-size: 15px;
    text-align: center;

}

.pictures_article_h3 {
    border-left: 7px solid white;
    padding-left: 20px;


}