.links_setting {
    color: black;
    text-align: center;
    padding: 10px;
    margin: 20px 100px;
    background-color: rgb(226, 226, 226);
}


.links_setting img {

    width: 100px;
    padding: 15px;

}