#tags_section {
    background-color: rgb(226, 226, 226);
    width: 70%;
    margin-inline: auto;
    padding-bottom: 3%;
}

#tags_h2 {
    text-align: center;
    padding: 10px 0px 0px 0px;
}

.tags_sub_h3 {}

@media screen and (max-width:400px) {
    #tags_section {
        background-color: rgb(226, 226, 226);
        width: 90%;
        margin-inline: auto;
        padding-bottom: 3%;
        text-align: center;
    }

}