#blogs_top>img {

    width: 60%;
    height: auto;
    padding: 0px 20% 0px 20%;
}

.blogs_article_h3 {
    border-left: 7px solid white;
    padding-left: 20px;
}

#abaut_2023_robot_div>img,
#abaut_2024_robot_div>img {
    height: auto;
    width: 40%;
    padding: 0px 4% 0px;
}

p {
    padding-left: 20px;
}

#abaut_2023_robot__hadowea {
    border: 2px solid #aaa;
    padding: 2em;
    border-radius: 15px;

}

#abaut_2023_robot__menber_a>a {
    font-size: 100%;

}