.blogs_h1 {

    text-align: center;
    font-size: 50px;
}




.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* アイテムを中央揃えにする */
    gap: 20px;
    /* アイテム間のギャップ */
}

.menu-item {
    flex: 11300px;
    /* 最小幅を300pxに設定し、最大幅も同じにする */
    max-width: 300px;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 02px5pxrgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    text-align: left;
    border-radius: 10px;
    overflow: hidden;
}

.menu-item:hover {
    box-shadow: 04px15pxrgba(0, 0, 0, 0.2);
}

.menu-item-img {
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 10px10px00;
}

.menu-item-content {
    padding: 15px;
    border-radius: 0010px10px;
}

.menu-item-title {
    font-size: 1.2em;
    margin: 0;
    color: #333;
}

.menu-item-description {
    margin: 5px000;
    font-size: 0.9em;
    color: #666;
}

.menu-item-text {
    text-decoration: none;
    color: inherit;
    display: block;
}