/* footer 処理 */
.main_footer {
    background: rgb(22, 22, 22);
    padding: 1rem 0;
    height: 50px;
    display: block;
    margin-inline: auto;
}

.main_footer_P {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}