h1 {
    text-align: center;
}


.main-photo img {
    width: 100%;
    /* 幅を50%に設定 */
    max-height: 250px;
    /* 高さを最大250pxに設定 */
    object-fit: cover;
    display: block;
    margin: 30px auto;
    /* 上部の余白を30pxに設定 */
}

.thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 20px;
}

.thumbnail {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.thumbnail:hover {
    transform: scale(1.1);
    box-shadow: 04px10pxrgba(0, 0, 0, 0.3);
}