* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-position: center center;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    background-color: rgb(60, 60, 60);
    color: white;
}

header {
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}







/* メイン文 */

.home_h2 {
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
}


.article_design {
    margin: 0px 0px 100px 150px;
    padding: 0 10px 0 0;
}

.second_h2 {
    padding: 0.25em 0.5em;
    /*上下 左右の余白*/
    /*文字色*/
    background: transparent;
    /*背景透明に*/
    border-left: solid 5px #7db4e6;
    /*左線*/
}





@media screen and (max-width:1000px) {
    .home_h2 {
        font-size: 35px;
        margin-top: 35px;
        text-align: center;
    }





    .article_design {
        margin: 0px 0px 50px 35px;
        padding: 0 10px 0 0;
    }


    .second_h2 {
        margin: 0 0 0 0;
        padding: 0.25em 0.5em;
        /*上下 左右の余白*/
        /*文字色*/
        background: transparent;
        /*背景透明に*/
        border-left: solid 5px #7db4e6;
        /*左線*/
    }

}